<table id="footer_table">
  <tbody>
    <tr>
      <td>
        <div id="footer">
          <p>
            This page is maintained by <a href="./">Umass Transit Services</a>.<br>
            &copy; <%= @year %> <a href="http://www.umass.edu/">University of Massachusetts Amherst</a>
            &#8226; <a href="http://umass.edu/umhome/policies.html">Site Policies</a>
          </p>
          <img src="images/seal.jpg" id="seal" alt="Seal">
        </div>
      </td>
    </tr>
  </tbody>
</table>
