<div id="topbanner"> 
  <a  href="http://umass.edu">
    <img id="banner_wordmark" src="images/informal_fff_on_000.gif" alt="UMass Amherst">
  </a>
    <form id="banner_search" action="http://googlebox.oit.umass.edu/search" method="get" name="gs">
      <div>
        <label for="q">
          <input name="q" id="q" size="22" placeholder="Search UMass Amherst" type="text">
        </label>
        <input input="submit" name="sa" value="Go" type="submit">
        <input name="site" value="default_collection" type="hidden">
        <input name="client" value="default_frontend" type="hidden">
        <input name="proxystylesheet" value="default_frontend" type="hidden">
        <input name="output" value="xml_no_dtd" type="hidden">
      </div>
    </form>
</div>

<div id="banner">
  <!--Banner image rendered through css-->
  <a id="banner_link" href="./"></a>
</div>

<div id="topmenu">
  <a href="news.html">NEWS</a>
  <a href="buses.html">PVTA</a>
  <a href="spectrans.html">SPECTRANS</a>
  <a href="fieldtrip.html">FIELD TRIP</a>
  <a href="meet_greet.html">MEET &amp; GREET</a>
  <a href="join_team.html">EMPLOYMENT</a>
  <a href="contactus.html">CONTACT</a>
</div>
