<div id="topbanner"> 
    <img id="banner_wordmark" src="images/umass-logo.gif" alt="UMassAmherst Facilities and Campus Services" usemap="#Map"/>
  <map name="Map">
	<area shape="rect" coords="0,0,97,30" href="http://umass.edu/facilities/"> 
	<area shape="rect" coords="98,0,163,30" href="http://umass.edu"> 
</map>
    <form id="banner_search" action="http://googlebox.oit.umass.edu/search" method="get" name="gs">
      <div>
        <label for="q">
          <input name="q" id="q" size="22" placeholder="Search UMass Amherst" type="text">
        </label>
        <input input="submit" name="sa" value="Go" type="submit">
        <input name="site" value="default_collection" type="hidden">
        <input name="client" value="default_frontend" type="hidden">
        <input name="proxystylesheet" value="default_frontend" type="hidden">
        <input name="output" value="xml_no_dtd" type="hidden">
      </div>
    </form>
</div>

<a id="banner" href="./">
  <img src="images/top_banner.jpg" alt="Transit Services">
</a>

<div id="topmenu">
  <a href="news.html">NEWS</a>
  <a href="buses.html">PVTA</a>
  <a href="spectrans.html">SPECTRANS</a>
  <a href="fieldtrip.html">FIELD TRIP</a>
  <a href="meet_greet.html">MEET &amp; GREET</a>
  <a href="join_team.html">EMPLOYMENT</a>
  <a href="contactus.html">CONTACT</a>
</div>
