<p>Call UMass Transit Service at (413) 545-0056 or visit the <a href="directions.html">UMass 
Transit Bus Garage</a>, located on Holdsworth Way, at the northwest corner of campus. Please download a job application, fill it out, and return it to us: <a target="_blank" href="pdf/st_application.pdf">PDF Application</a></p>
 
<p>A completed application must be submitted at least one business day before the scheduled
interview.</p>

<p>Bring your drivers license to the interview, as you will drive a large passenger van
for a road test.</p>
