<p>To fill out a bus driver application, you can:</p>
<ul>
  <li>
  Submit an <a href="jobapplication_bus.html">online application</a>.
  </li>
  <li>
  Pick up a job application at the <a href="directions.html">garage</a>.
  </li>
</ul> 
<p>If you qualify you will be contacted shortly to set up an interview.
If you have any questions please call UMass Transit Service at
(413)&nbsp;545-0056 or visit the <a href="directions.html">UMass Transit
Bus Garage</a>, located on Holdsworth Way, at the northwest corner of
campus.</p>
