<% #NOTE: this partial has broken links, etc.
   #We haven't hired service workers since the site redesign
%>
<ul>
  <li>Submit an <a href="jobapplication_service.html">online application</a>.</li>
  <li>Download a <a href="SERSAPPL.doc">job application</a>, fill it out,
    and return it to us. (Requires MS Word 6.0+, be sure to save with a *.doc extension)</li>
  <li>Pick one up at the <a href="directions.html">garage</a>.</li>
</ul>

<p>You do not need a special driver's license for this position.</p>
