<div class="left_menu_title">
  Transit
</div>
<ul id="left_services" class="left_nav">
  <li><a href="schedules.html">Schedules</a></li>
  <li><a href="bus_tracker.html">Bus Tracker</a></li>
  <li><a href="trip_planner.html">Trip Planner</a></li>
  <li><a href="maps.html">Maps</a></li>
  <li><a href="calendar.html">Calendar</a></li>
  <li><a href="join_team.html">Employment</a></li>
</ul>

<div class="left_menu_title">
  Related Links
</div>
<ul id="left_helpful_links" class="left_nav">
  <li><a href="http://www.umass.edu/vehicle">Transportation Services</a></li>
  <li><a href="http://www.masstraveler.com/">Mass Traveler</a></li>
  <li><a href="http://parking.umass.edu/index.php/home/">Parking Services</a></li>
  <li><a href="transit_operations_and_management_certificate.html">Transit Certificate Program</a></li>
  <li><a href="http://umasstransit.org">Transit Employee Login</a></li>
  <li><a href="related_info.html">More Related Links</a></li>
</ul>

<fb:like href="http://facebook.com/UMassTransit"
         send="false"
         layout="button_count"
         show_faces="false">
</fb:like>
