<div id="page_title">Bike Racks</div>
<div id="page_text_field">
  <p>All UMass Transit routes are equipped with bike racks year-round.
  Each rack, located at the front of the bus, holds two bikes. The
  racks are safe and easy to use; just follow the  instructions below
  (they're also posted on the buses right above the racks).</p>

  <p>Note: Recumbents, tandems, tricycles, and bicycles with wheels
  less than 16-inches in diameter are not compatible with the racks.
  Also, along with any other large object that could become a
  projectile in the event of a sudden stop, Bicycles are
  <strong>NEVER</strong> allowed inside the bus.</p>

  <p><strong>WARNING:</strong> For your safety, it is imperative that
  you maintain eye contact with the driver at all times during the
  entire loading and unloading process. NEVER unload your bicycle from
  the traffic side of the bus. Passengers are responsible for 
  loading/unloading their own bikes.</p>

  <h3 class="pageSubTitle">Loading your Bike:</h3>

  <p>Be sure all loose objects are removed before you begin. Wait
  until the bus has come to a complete stop before moving forward, then
  tell the driver you will be putting your bike in the rack.

  <div class="image">
    <div>Step 1</div>
    <img src="images/bikestep1.gif" alt="First Bikerack Step" width="200" height="191">
  </div>

  <p>Pull down the rack mounted on the front of the bus by squeezing the
  release handle and lowering the rack.</p>

  <div class="image">
    <div>Step 2</div>
    <img src="images/bikestep2.gif" alt="Second Bikerack Step" width="200" height="260">
  </div>

  <p>Load your bike, using the slots farthest from the bus first, making
  certain that each wheel is in the proper slot. Wheel slots are clearly
  labeled for front and rear tires.</p>

  <div class="image">
    <div>Step 3</div>
    <img src="images/bikestep3.gif" alt="Third Bikerack Step" width="200" height="255">
  </div>

  <p>To secure your bicycle in the rack, raise the support arm as far as
  it will go, so that it rests on the top of the front tire. Once the
  bicycle is secured it's your turn to board the bus.</p>

  <h3 class="pageSubTitle">Unloading your Bike:</h3>

  <p>As you approach your stop, advise the driver that you will be
  unloading your bike. Unload your bicycle from the front of the bus or
  the curb - never from the traffic side of the bus. Simply reverse the
  above steps, and don't forget to fold up the rack if the rack is
  empty.</p>

  <h3 class="pageSubTitle">Video on how to use the Bike Rack:</h3>

  <iframe id="bike_rack_video" width="560" height="315" src="http://www.youtube.com/embed/pNcW-ZaoEfg" frameborder="0" allowfullscreen></iframe>
</div>
