<p>UMass Transit operates <a href="http://www.pvta.com" target="_blank">PVTA</a>
buses for the <a href="http://www.fivecolleges.edu/" target="_blank">Five Colleges</a>
as well as the 
<a href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&ie=UTF8&om=1&ll=42.360066,-72.525558&spn=0.222232,0.41748&z=11" target="_blank">towns</a>
of Amherst, Belchertown, Deerfield, Granby, Hadley, Northampton, South Hadley, and Sunderland.</p>

<h3 class="pageSubTitle">Route Information:</h3>

<ul>
  <li><a href="news.html">News</a></li>
  <li><a href="schedules.html">Schedules and Maps</a></li>
  <li><a href="bus_tracker.html">Bus Tracker</a></li>
  <li><a href="trip_planner.html">Trip Planner</a></li>
  <li><a href="calendar.html">Calendar</a></li>
</ul>

<h3 class="pageSubTitle"><a id="inclement_weather">Inclement Weather:</a></h3>

<p>UMass Transit runs buses as much as possible during winter storms, however, please
be prepared for delays, detours, or (in the event of extremely severe conditions)
potential service cancellations.  Information will be posted to our 
<a href="http://www.umass.edu/transit/news.html">news page</a> and
<a href="http://www.twitter.com/umasstransit">@umasstransit twitter feed</a>.
Also see the UMass School Closings and Common Snow Detours sections below.</p>


<h3 class="pageSubTitle"><a id="umass_closings">UMass School Closings:</a></h3>

<p>When UMass cancels Fall or Spring classes for an entire day, buses run on a
typical mid-semester Holiday schedule, similar to Veterans Day (as conditions
allow):</p>

<ul>
  <li>Reduced Service:  Routes 30, 31, 45, and 46.</li>
  <li>Full Service:  Routes 33, 38, and 39.</li>
  <li>No Service : Routes 34 and 36.</li>
  <li>Weekend Service:  Route 35.</li>
</ul>

<p>If UMass closes on Thanksgiving Eve, the last day of finals, or the last day before 
Spring Break, the above service will run (as conditions allow) except that any routes 
that were already cancelled or ending early will still be cancelled or end early. 
Additional details will be <a href="https://twitter.com/umasstransit">posted</a> accordingly.</p>

<p>When UMass opens late or closes early, buses run as scheduled (as conditions allow).</p>

<p>See <a href="http://www.pvta.com">pvta.com</a> for information about routes R29,
39E, M40, and B43.<p>

<h3 class="pageSubTitle"><a id="common_detours">Common Snow Detours:</a></h3>

<p>The following detours are routinely used (depending on severity of conditions):

<table style="width:400px; margin: 0 30px;">
  <tbody>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt30.pdf">30</a></td>
      <td>Bypasses Valley Medical (during storms and on days after, due to plowing).</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt31.pdf">31</a></td>
      <td>Bypasses Boulders/South Point (usually on days following storms, due to
        plowing). Catch buses on East Hadley Rd.</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt33.pdf">33</a></td>
      <td>May bypass Amity St/University Dr in extreme conditions (catch buses at Big Y or 
        Amherst Ctr).</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt34.pdf">34</a></td>
      <td>Bypasses Orchard Hill/Upper Central (catch buses on E Pleasant St) and/or Admissions
        (catch buses at the old Sig-Ep stop).</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt35.pdf">35</a></td>
      <td>Bypasses Orchard Hill/Upper Central (catch buses on E Pleasant St) and/or Admissions
        (catch buses at the old Sig-Ep stop).</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt36.pdf">36</a></td>
      <td>Bypasses Admissions (catch buses at the old Sig-Ep stop).</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt38.pdf">38</a></td>
      <td>Service to Mt Holyoke may be suspended in extreme conditions.</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt39.pdf">39</a></td>
      <td>Service to Mt Holyoke may be suspended in extreme conditions.</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt45.pdf">45</a></td>
      <td>May bypass Old Amherst Rd in extreme conditions (catch buses at Mayflower Apts or North St).</td>
    </tr>
    <tr>
      <td><a href="http://pvta.com/schedules/Rt46.pdf">46</a></td>
      <td>No common detours.</td>
    </tr>
  </tbody>
</table>

<p>See <a href="http://www.pvta.com">pvta.com</a> for information about routes R29,
39E, M40, and B43.<p>

<h3 class="pageSubTitle">Bike Racks:</h3>

<p>All UMass Transit buses are equipped with bike racks.  For more information,
click <a href="bike_racks.html">here</a>.</p>

<h3 class="pageSubTitle">Fare Information:</h3>

<p>Bus routes operated by UMass Transit are fare-free for Five College students,
faculty and staff. For the general public, fares are on a proof-of-payment "honor
system". Bus drivers will not collect fares/passes, but passengers are expected
to have either a valid Five College student, faculty or staff ID cards or a fare
ticket/pass for each ride.</p>

<p>Tickets/passes may be purchased by contacting <a href="http://www.pvta.com">PVTA</a>
customer service. </p>

<h3 class="pageSubTitle">Advertising:</h3>

<p>PVTA offers advertising space on its buses. You can find more information at
the PVTA's <a href="http://www.pvta.com/index.php/advertising" target="_blank">website</a>.
