<p>UMass Transit operates <a href="http://www.pvta.com" target="_blank">PVTA</a>
buses for the <a href="http://www.fivecolleges.edu/" target="_blank">Five Colleges</a>
as well as the 
<a href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&ie=UTF8&om=1&ll=42.360066,-72.525558&spn=0.222232,0.41748&z=11" target="_blank">towns</a>
of Amherst, Belchertown, Deerfield, Granby, Hadley, Northampton, South Hadley, and Sunderland.</p>

<h3 class="pageSubTitle">Route Information:</h3>

<ul>
  <li><a href="news.html">News</a></li>
  <li><a href="schedules.html">Schedules</a></li>
  <li><a href="bus_tracker.html">Bus Tracker</a></li>
  <li><a href="trip_planner.html">Trip Planner</a></li>
  <li><a href="maps.html">Maps</a></li>
  <li><a href="calendar.html">Calendar</a></li>
</ul>

<h3 class="pageSubTitle">Inclement Weather:</h3>

<p>UMass Transit runs buses as much as possible during winter storms, however, please
be prepared for delays, detours, or (in the event of extremely severe conditions)
potential service cancellations.  Information will be posted to our 
<a href="http://www.umass.edu/transit/news.html">news page</a> and
<a href="http://www.twitter.com/umasstransit">@umasstransit twitter feed</a>.
Also see the UMass School Closings and Common Snow Detours sections below.</p>


<h3 class="pageSubTitle">UMass School Closings:</h3>

<p>When UMass cancels Fall or Spring classes for an entire day, buses run on a
typical mid-semester Holiday schedule, similar to Veterans Day (as conditions
allow):</p>

<ul>
  <li>Reduced Service:  Routes 30, 31, 45, and 46.</li>
  <li>Full Service:  Routes 32, 37, 38, and 39.</li>
  <li>No Service : Route 34.</li>
  <li>Weekend Service:  Route 35.</li>
</ul>

<p>When UMass opens late or closes early, buses run as scheduled (as conditions allow).</p>

<p>Go to <a href="http://www.pvta.com">pvta.com</a> for information about routes
39E, 40, and 43.<p>

<h3 class="pageSubTitle">Common Snow Detours:</h3>

<p>The following detours are routinely used (depending on severity of conditions):

<table style="width:400px; margin: 0 30px;">
  <tbody>
    <tr>
      <td><a href="pdf/route30.pdf">30</a></td>
      <td>Bypasses Valley Medical (during storms and the day after, due to plowing).</td>
    </tr>
    <tr>
      <td><a href="pdf/route31.pdf">31</a></td>
      <td>Bypasses Boulders/South Point (usually on days following storms, due to
        plowing). Catch buses on East Hadley Rd.</td>
    </tr>
    <tr>
      <td><a href="pdf/outreach.pdf">32</a></td>
      <td>No common detours.</td>
    </tr>
    <tr>
      <td><a href="pdf/route34and35.pdf">34</a></td>
      <td>Bypasses Orchard Hill (catch buses on E Pleasant St) and/or Admissions
        (catch buses at Sig-Ep).</td>
    </tr>
    <tr>
      <td><a href="pdf/route34and35.pdf">35</a></td>
      <td>Bypasses Orchard Hill (catch buses on E Pleasant St) and/or Admissions
        (catch buses at Sig-Ep).</td>
    </tr>
    <tr>
      <td><a href="pdf/route37.pdf">37</a></td>
      <td>Bypasses Orchard Hill (catch buses on E Pleasant St).</td>
    </tr>
    <tr>
      <td><a href="pdf/route38.pdf">38</a></td>
      <td>In extreme conditions, service to Mt Holyoke may be suspended.</td>
    </tr>
    <tr>
      <td><a href="pdf/route39.pdf">39</a></td>
      <td>In extreme conditions, service to Mt Holyoke may be suspended.</td>
    </tr>
    <tr>
      <td><a href="pdf/outreach.pdf">45</a></td>
      <td>In extreme conditions, buses may bypass Old Amherst Rd.</td>
    </tr>
    <tr>
      <td><a href="pdf/outreach.pdf">46</a></td>
      <td>No common detours.</td>
    </tr>
  </tbody>
</table>

<p>Go to <a href="http://www.pvta.com">pvta.com</a> for information about routes
39E, 40, and 43.<p>

<h3 class="pageSubTitle">Bike Racks:</h3>

<p>All UMass Transit buses are equipped with bike racks.  For more information,
click <a href="bike_racks.html">here</a>.</p>

<h3 class="pageSubTitle">Fare Information:</h3>

<p>Bus routes operated by UMass Transit are fare-free for Five College students,
faculty and staff. For the general public, fares are on a proof-of-payment "honor
system". Bus drivers will not collect fares/passes, but passengers are expected
to have either a valid Five College student, faculty or staff ID cards or a fare
ticket/pass for each ride.</p>

<p>Tickets/passes may be purchased by contacting <a href="http://www.pvta.com">PVTA</a>
customer service. </p>

<h3 class="pageSubTitle">Advertising:</h3>

<p>PVTA offers advertising space on its buses. You can find more information at
the PVTA's <a href="http://www.pvta.com/index.php/advertising" target="_blank">website</a>.
