<h3 class="pageSubTitle">Email:</h3>
<p>UMass Transit's email address is <a href="mailto:transit@admin.umass.edu">transit@admin.umass.edu</a>.
If you would like to send email to a specific staff member, refer to <a href="staff.html">Transit Staff</a>
page.</p>

<h3 class="pageSubTitle">Phone:</h3>
<table id="contacts">
  <tr>
    <td>Lost and Found for Route R29:</td>
    <td class="number">(413) 788-8630</td>
  </tr>
  <tr>
    <td>Lost and Found for Routes B43 and M40:</td>
    <td class="number">(413) 586-3548</td>
  </tr>
  <tr>
    <td>Lost and Found for other Amherst-area routes:</td>
    <td class="number">(413) 545-0056</td>
  </tr>
  <tr>
    <td><a href="schedules.html">Bus Schedule Information:</a></td>
    <td class="number">(413) 545-0056</td>
  </tr>
  <tr>
    <td>UMass Transit Fax:</td>
    <td class="number">(413) 545-1930</td>
  </tr>
  <tr>
    <td><a href="fieldtrip.html">UMass Transit Field Trip Services:</a></td>
    <td class="number">(413) 545-2498</td>
  </tr>
  <tr>
    <td><a href="spectrans.html">UMass Transit Spectrans:</a></td>
    <td class="number">(413) 545-2086</td>
  </tr>
  <tr>
    <td><a href="http://www.umass.edu/vehicle">Transportation Services - State Vehicles:</a></td>
    <td class="number">(413) 545-4682</td>
  </tr>
</table>
<script type="text/javascript">
  head.ready(function () {
    alternateClasses("contacts");
  });
</script>

<h3 class="pageSubTitle">Directions:</h3>

<p>We are located at the corner of Governors Drive and Holdsworth Way on the UMass Amherst campus.
See directions and map <a href="directions.html">here</a>.</p>

<h3 class="pageSubTitle">Mail:</h3>
<p>UMass Transit Service
<br/>University Bus Garage
<br/>255 Governors Drive
<br/>Amherst, MA 01003</p>
