<div id="page_title">Directions</div>
<div id="page_text_field">  
  <p>
    We're 
    <a href="http://maps.google.com/maps?f=q&hl=en&geocode=&time=&date=&ttype=&q=255+holdsworth+way,+amherst,+ma&sll=42.394495,-72.529163&sspn=0.029348,0.062399&ie=UTF8&ll=42.393719,-72.532575&spn=0.007337,0.0156&z=16&iwloc=addr&om=1&iwstate1=sscorrectthiscard" target="_blank">
      located
    </a> 
    in the northwest corner of UMass campus between Computer Science and Parking Services:
  </p>

  <div id="map">
  <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="http://maps.google.com/maps/ms?ie=UTF8&amp;t=h&amp;hl=en&amp;s=AARTsJpJNWyzft7VwPdffDbikgju2NUmLw&amp;msa=0&amp;msid=105566057745279406759.000454479383113f7622d&amp;ll=42.393893,-72.533069&amp;spn=0.006339,0.010729&amp;z=16&amp;output=embed"></iframe>

  <small><a href="http://maps.google.com/maps/ms?ie=UTF8&amp;t=h&amp;hl=en&amp;msa=0&amp;msid=105566057745279406759.000454479383113f7622d&amp;ll=42.393893,-72.533069&amp;spn=0.006339,0.010729&amp;z=16&amp;source=embed">
      View Larger Map</a></small>
  </div>

  <h3 class="pageSubTitle">Directions from I-91:</h3>
  <p>From 91-North, Take exit 19 to route 9 (From 91-South, take exit 20 to route 5- &amp; 10-South; take
  your first left onto Damon Road; at the end of the road, take a left onto route 9), and head toward
  Amherst and UMass. Proceed through 6 sets of traffic lights. At the seventh traffic light, take a
  left onto 116 north. Get off at the UMass exit, and take a right at the end of the ramp onto
  Massachusetts Avenue. Go through the blinking light, and make a left onto Commonwealth Avenue. Go
  through one set of traffic lights, and take a right at the next set of lights onto Holdsworth Way.
  Transit is located immediately on the left.</p>

  <h3 class="pageSubTitle">Directions from Amherst Center:</h3>
  <p>Head toward UMass on North Pleasant Street. At the intersection of North Pleasant Street and Massachusetts
  Avenue, go straight onto Massachusetts Ave. At the first set of lights, take a right onto Commonwealth Avenue.
  Go through one set of traffic lights, and take a right at the next set of lights onto Holdsworth Way.  Transit is
  located immediately on the left.</p>

  <h3 class="pageSubTitle">Directions from North Amherst Center:</h3>
  <p>Head toward UMass on North Pleasant Street. At the intersection of North Pleasant Street and Governor's
  Drive, take a right onto Governor's Drive. At the next set of lights, take a left onto Holdsworth Way. Transit
  is located immediately on the left.</p>
</div>
