<p>Field Trip Services provides transportation for large groups such as Registered
Student Organizations, classes or conference groups. Click for detailed information
for <a href="student_ft.html">student groups</a> or for trips sponsored by 
<a href="depts_ft.html">University departments</a>.</p>

<blockquote>
  <p><a href="ft_schoolbuses.html">School Bus Style</a>:
  Our buses are designed with extra leg room, and have seating capacity for 38.</p>

  <p><a href="ft_maroonwhite.html">UMass Maroon and White</a>:
  These buses are considerably more comfortable than a school bus and have seating
  capacity for 38.</p>

  <p><a href="ft_rts.html">City Bus Style</a>:
  Similar to the PVTA buses around campus, this style vehicle seats 35-40 people
  with room for standees.</p> 

  <p><a href="ft_vans.html">Vans</a>:
  Our vans have extra room for luggage, and seating capacity for 10.</p>

  <p><a href="ft_st_vans.html">Wheelchair Accessible Vans</a>:
  These vans have seating capacity for 2-4 with room for up to two wheelchairs.</p>

  <p>Click the names of the vehicles to see pictures of them!</p>

  <p><a href="contact_ft.html">Contact</a> Field Trip Services.</p>

  <p><a href="rates_ft.html">View</a> Rates.</p>
</blockquote>

<p>The Field Trip Services Department also operates the <a href="meet_greet.html">
Meet &amp; Greet Service</a>.</p>
