<div id="page_title">Thank You</div>
<div id="page_text_field"> 
  <p>Your Meet and Greet trip request has been submitted.  We will contact you shortly
  to confirm the details of your trip.</p>
  <p><a href="meet_greet.html">Back</a> to the Meet and Greet page</p>
</div>
