<div id="page_title">Thank You</div>
<div id="page_text_field"> 
  <p>Your UMass Transit Bus Driver Application has been submitted.</p>
  <p><a href="join_team.html">Back</a> to the UMass Transit Job Opportunities Page</p>
</div>
