<div id="page_title">Field Trip Van Pictures</div>
<div id="page_text_field"> 
  <div class="pageSubTitle">Van exterior</div>
  <img src="images/ft_van_exterior.jpg"/>
  <div class="pageSubTitle">Van interior</div>
  <img src="images/ft_van_interior.jpg"/>
</div>
