<form method="POST" action="https://transit-app1.admin.umass.edu/jobApplications/busApplication.php">
  <table id="application" border="0" cellpadding="5" cellspacing="5" width="630">
    <tr valign="top">
      <td colspan="2"><div align="center"><b><font face="Arial, Helvetica, sans-serif" color="#FF0000">** All Fields Are Required **</font></b></div></td>

    </tr>
    <tr valign="top">
      <td colspan="2"><p align="center">Minimum Job Requirements for <b>Bus Driver</b></p>
        <div align="right"></div>
        <ul>
          <li>You must have at least three semesters remaining as a UMass Student</li>
          <li>You must be registered for the current or upcoming semester.</li>

          <li>You must be willing to accept a work assignment of at least 15 hours per week during the semester.</li>
          <li>You must be willing to work a minimum of 180 hours per semester for at least two full semesters after training is complete.</li>
          <li>You must possess a driver's license that is valid in the United States.</li>
          <li>You must be at least 18 years of age, and <b>be able to communicate clearly</b>.</li>
          <li>You must be able to pass a NIDA-5 panel pre-employment drug screening.</li>

          <li>You must be willing to sign a legally binding contract that includes (but is not limited to) the above terms.</li>
          <li>You must enjoy driving.</li>
        </ul></td>
    </tr>
    <tr valign="top">
      <td><div align="left">
          <p>I understand and meet the above minimum requirements for entering the UMass Transit bus driver training program. </p>

        </div></td>
      <td><table width="100" border="0">
          <tr>
            <td><div align="center"> Yes <br>
                <input type="radio" name="min_req_radio" value="Meets min req.">
              </div></td>
            <td><div align="center"> No <br>

                <input type="radio" name="min_req_radio" value="Does not meet min req.">
              </div></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td><div align="right">Full Name (First MI Last):</div></td>
      <td><input type="text" name="name" size="50">

      </td>
    </tr>
    <tr>
      <td><div align="right"><b>Your UMass Student Email address:</b></div></td>
      <td><input type="text" name="email" size="50">
      </td>
    </tr>
<tr>

<td colspan='2'><div align="left"><b>
This is how/where you will be contacted for an interview.
<b></div><br>
</td>
</tr>
    <tr>
      <td><div align="right">Local Address</div></td>
      <td><input type="text" name="local_address_1" size="50">
      </td>

    </tr>
    <tr>
      <td><div align="right"></div></td>
      <td><input type="text" name="local_address_2" size="50">
      </td>
    </tr>
    <tr>
      <td><div align="right"> Local City</div></td>

      <td><input type="text" name="local_city" size="50">
      </td>
    </tr>
    <tr>
      <td><div align="right">Local State</div></td>
      <td><input type="text" name="local_state" size="2">
      </td>
    </tr>

    <tr>
      <td><div align="right">Local Zip Code</div></td>
      <td><input type="text" name="local_zip" size="7">
      </td>
    </tr>
    <tr>
      <td><div align="right">Local Phone Number</div></td>
      <td>(<input type="text" name="local_phone_1" size="3">)<input type="text" name="local_phone_2" size="3">-<input type="text" name="local_phone_3" size="4">

      </td>
    </tr>
    <tr>
      <td><div align="right">Permanent Address</div></td>
      <td><input type="text" name="perm_address_1" size="50">
      </td>
    </tr>
    <tr>

      <td><div align="right"></div></td>
      <td><input type="text" name="perm_address_2" size="50">
      </td>
    </tr>
    <tr>
      <td><div align="right"> Permanent City</div></td>
      <td><input type="text" name="perm_city" size="50">
      </td>

    </tr>
    <tr>
      <td><div align="right">Permanent State</div></td>
      <td><input type="text" name="perm_state" size="2">
      </td>
    </tr>
    <tr>
      <td><div align="right">Permanent Zip Code</div></td>

      <td><input type="text" name="perm_zip" size="5">
      </td>
    </tr>
    <tr>
      <td><div align="right">Permanent Phone Number</div></td>
      <td>(<input type="text" name="perm_phone_1" size="3">)<input type="text" name="perm_phone_2" size="3">-<input type="text" name="perm_phone_3" size="4">
      </td>
    </tr>

    <tr>
      <td><div align="right">Date of Birth</div></td>
      <td><select name="dob_month" size="1">
          <option selected>Month</option>
          <option value="Jan.">January</option>
          <option value="Feb.">February</option>
          <option value="Mar.">March</option>

          <option value="Apr.">April</option>
          <option value="May">May</option>
          <option value="Jun.">June</option>
          <option value="Jul.">July</option>
          <option value="Aug.">August</option>
          <option value="Sep.">September</option>

          <option value="Oct.">October</option>
          <option value="Nov.">November</option>
          <option value="Dec.">December</option>
        </select>
        <select name="dob_day" size="1">
          <option selected>Day</option>
          <option value="1">1</option>

          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>

          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>

          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>

          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>

          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>

        </select>
        <input type="text" name="dob_year" size="6" value="Year">
      </td>
    </tr>
    <tr>
      <td><div align="right">Anticipated Graduation Date</div></td>
      <td><select name="yog_month" size="1">
          <option selected>Month</option>

          <option value="Jan.">January</option>
          <option value="Feb.">February</option>
          <option value="Mar.">March</option>
          <option value="Apr.">April</option>
          <option value="May">May</option>
          <option value="Jun.">June</option>

          <option value="Jul.">July</option>
          <option value="Aug.">August</option>
          <option value="Sep.">September</option>
          <option value="Oct.">October</option>
          <option value="Nov.">November</option>
          <option value="Dec.">December</option>

        </select>
        <input type="text" name="yog_year" size="6" value="Year">
      </td>
    </tr>
    <tr>
      <td><div align="right">Major</div></td>
      <td><input type="text" name="major" size="50">
      </td>

    </tr>
    <tr>
      <td><div align="right">How many credits are you enrolled in this semester?</div></td>
      <td><input type="text" name="enrolled_credits" size="2">
      </td>
    </tr>
    <tr>
      <td><div align="right">Are you interested in Summer Training?</div></td>
      <td><table width="100" border="0">
          <tr>
            <td><div align="center"> Yes <br>
                <input type="radio" name="summer_training" value="yes">

              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="summer_training" value="no">
              </div></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"><strong>Employment History #1</strong></div></td>

    </tr>
    <tr>
      <td><div align="right">Employer</div></td>
      <td><input name="employer_1" type="text" id="employer_1" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Supervisor's Name </div></td>
      <td><input name="supervisor_1" type="text" id="supervisor_1" size="50"></td>

    </tr>
    <tr>
      <td><div align="right">Your Job Title</div></td>
      <td><input name="job_title_1" type="text" id="job_title_1" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Address</div></td>
      <td><input name="work_address_1" type="text" id="work_address_1" size="50"></td>

    </tr>
    <tr>
      <td><div align="right">Phone Number </div></td>
      <td>(<input type="text" name="work_phone_1_1" size="3">)<input type="text" name="work_phone_1_2" size="3">-<input type="text" name="work_phone_1_3" size="4"></td>
    </tr>
    <tr>
      <td><div align="right">Begin Date </div></td>
      <td><input name="begin_date_1" type="text" id="begin_date_1" size="50"></td>

    </tr>
    <tr>
      <td><div align="right">End Date </div></td>
      <td><input name="end_date_1" type="text" id="end_date_1" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Salary</div></td>
      <td><input name="salary_1" type="text" id="salary_1" size="50"></td>

    </tr>
    <tr>
      <td><div align="right">Reason for leaving </div></td>
      <td><input name="reason_left_1" type="text" id="reason_left_1" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Job Responsibilities </div></td>
      <td><input name="job_duties_1" type="text" id="job_duties_1" size="50"></td>

    </tr>
    <tr>
      <td><div align="right">May we contact this employer for a reference? </div></td>
      <td><table width="100" border="0">
          <tr>
            <td><div align="center"> Yes <br>
                <input type="radio" name="reference_1" value="Yes">

              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="reference_1" value="No">
              </div></td>
          </tr>
        </table></td>
    </tr>
    <tr>

      <td colspan="2"><div align="center"><strong>Employment History #2 </strong></div></td>
    </tr>
    <tr>
      <td><div align="right">Employer</div></td>
      <td><input name="employer_2" type="text" id="employer_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Supervisor's Name </div></td>

      <td><input name="supervisor_2" type="text" id="supervisor_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Your Job Title</div></td>
      <td><input name="job_title_2" type="text" id="job_title_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Address</div></td>

      <td><input name="work_address_2" type="text" id="work_address_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Phone Number </div></td>
      <td>(<input type="text" name="work_phone_2_1" size="3">)<input type="text" name="work_phone_2_2" size="3">-<input type="text" name="work_phone_2_3" size="4"></td>
    </tr>
    <tr>
      <td><div align="right">Begin Date </div></td>

      <td><input name="begin_date_2" type="text" id="begin_date_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">End Date </div></td>
      <td><input name="end_date_2" type="text" id="end_date_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Salary</div></td>

      <td><input name="salary_2" type="text" id="salary_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Reason for leaving </div></td>
      <td><input name="reason_left_2" type="text" id="reason_left_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">Job Responsibilities </div></td>

      <td><input name="job_duties_2" type="text" id="job_duties_2" size="50"></td>
    </tr>
    <tr>
      <td><div align="right">May we contact this employer for a reference? </div></td>
      <td><table width="100" border="0">
          <tr>
            <td><div align="center"> Yes <br>

                <input type="radio" name="reference_2" value="Yes">
              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="reference_2" value="No">
              </div></td>
          </tr>
        </table></td>
    </tr>

    <tr>
      <td><div align="right">What year did you get your first driver's license?</div></td>
      <td><input type="text" name="first_license_year" size="4">
      </td>
    </tr>
    <tr>
      <td><div align="right">Where was your first license issued?</div></td>
      <td><input type="text" name="first_license_issued_location" size="50">

      </td>
    </tr>
    <tr>
      <td><div align="right">How many years have you been driving in the United States (must be at least 1 full year)?</div></td>
      <td><input type="text" name="number_years_driving_us" size="2">
      </td>
    </tr>
    <tr>

      <td><div align="right">What state issued your current license?</div></td>
      <td><input type="text" name="current_license_state" size="2">
      </td>
    </tr>
    <tr>
      <td><div align="right">For what vehicle class is your current license valid? </div></td>
      <td><br>
        <table width="100" border="0">

          <tr>
            <td colspan="4"><div align="center">Class</div></td>
          </tr>
          <tr>
            <td><div align="center">A</div></td>
            <td><div align="center">B</div></td>
            <td><div align="center">C</div></td>

            <td><div align="center">D</div></td>
          </tr>
          <tr>
            <td><div align="center">
                <input type="radio" name="class_check" value="class A license">
              </div></td>
            <td><div align="center">
                <input type="radio" name="class_check" value="class B license">

              </div></td>
            <td><div align="center">
                <input type="radio" name="class_check" value="class C license">
              </div></td>
            <td><div align="center">
                <input type="radio" name="class_check" value="class D license">
              </div></td>
          </tr>
        </table></td>

    </tr>
    <!--<tr>
      <td><div align="right">Current License Number</div></td>
      <td><input type="text" name="current_license_number" size="15"></td>
    </tr>-->
    <tr>
      <td colspan="2"><div align="center"><strong>Please list all traffic violations below </strong></div></td>
    </tr>

    <tr>
      <td colspan="2"><div align="center"><strong>First</strong></div></td>
    </tr>
    <tr>
      <td><div align="right">State</div></td>
      <td><input type="text" name="first_violation_state" size="2"></td>
    </tr>
    <tr>

      <td><div align="right">Year</div></td>
      <td><input type="text" name="first_violation_year" size="4"></td>
    </tr>
    <tr>
      <td><div align="right">Nature of violation</div></td>
      <td><input type="text" name="first_violation_nature" size="50"></td>
    </tr>
    <tr>

      <td colspan="2"><div align="center"><strong>Second</strong></div></td>
    </tr>
    <tr>
      <td><div align="right">State</div></td>
      <td><input type="text" name="second_violation_state" size="2"></td>
    </tr>
    <tr>
      <td><div align="right">Year</div></td>

      <td><input type="text" name="second_violation_year" size="4"></td>
    </tr>
    <tr>
      <td><div align="right">Nature of violation </div></td>
      <td><input type="text" name="second_violation_nature" size="50"></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"><strong>Third</strong></div></td>

    </tr>
    <tr>
      <td><div align="right">State</div></td>
      <td><input type="text" name="third_violation_state" size="2"></td>
    </tr>
    <tr>
      <td><div align="right">Year</div></td>
      <td><input type="text" name="third_violation_year" size="4"></td>

    </tr>
    <tr>
      <td><div align="right">Nature of violation </div></td>
      <td><input type="text" name="third_violation_nature" size="50"></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"><strong>Fourth</strong></div></td>
    </tr>

    <tr>
      <td><div align="right">State</div></td>
      <td><input type="text" name="fourth_violation_state" size="2"></td>
    </tr>
    <tr>
      <td><div align="right">Year</div></td>
      <td><input type="text" name="fourth_violation_year" size="4"></td>
    </tr>

    <tr>
      <td><div align="right">Nature of violation </div></td>
      <td><input type="text" name="fourth_violation_nature" size="50"></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"><strong>Note</strong>: A copy of your driving record may be requested. If you have <em>any</em> previous experience as a CDL driver of any class you must provide a copy of your driving record. </div></td>

    </tr>
    <tr>
      <td><div align="right">When does your current license expire?</div></td>
      <td><select name="license_expire_month" size="1">
          <option selected>Month</option>
          <option value="Jan.">January</option>
          <option value="Feb.">February</option>

          <option value="Mar.">March</option>
          <option value="Apr.">April</option>
          <option value="May">May</option>
          <option value="Jun.">June</option>
          <option value="Jul.">July</option>
          <option value="Aug.">August</option>

          <option value="Sep.">September</option>
          <option value="Oct.">October</option>
          <option value="Nov.">November</option>
          <option value="Dec.">December</option>
        </select>
        <select name="license_expire_day" size="1">
          <option selected>Day</option>

          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>

          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>

          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>

          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>

          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>

          <option value="31">31</option>
        </select>
        <input type="text" name="license_expire_year" size="6" value="Year">
      </td>
    </tr>
    <tr>
      <td><div align="right">Have you previously applied for a job at UMass Transit?</div></td>
      <td><table width="100" border="0">

          <tr>
            <td><div align="center"> Yes <br>
                <input type="radio" name="previously_applied_radio" value="Yes">
              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="previously_applied_radio" value="No">
              </div></td>

          </tr>
        </table></td>
    </tr>
    <tr>
      <td rowspan="6"><div align="right">How did you hear about this job?<br>
          (check all that apply)</div></td>
      <td><input type="checkbox" name="found_job_from1" value="checkbox">
        Advertisement inside bus</td>

    </tr>
    <tr>
      <td><input type="checkbox" name="found_job_from2" value="checkbox">
        Bus destination sign</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="found_job_from3" value="checkbox">
        Poster in bus stop shelter</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="found_job_from4" value="checkbox">
        Poster in Campus Center</td>
    </tr>
    <!--
    <tr>
      <td><input type="checkbox" name="found_job_from5" value="checkbox">
        Ad in Collegian</td>
    </tr>
    -->
    <tr>
      <td><input type="checkbox" name="found_job_from6" value="checkbox">
        Resource Fair / Orientation</td>
    </tr>
    <tr>
      <td><input type="checkbox" name="found_job_from7" value="checkbox">
        Referred by employee</td>
    </tr>
    <tr>
      <td><div align="right">
          <p>If you selected &quot;Referred by employee&quot; above, please enter his or her name:</p>

        </div></td>
      <td><input type="text" name="referring_employee" size="50">
      </td>

    <tr>
      <td><div align="right">Are you a graduate student?</div></td>
      <td><table width="100" border="0">

          <tr>
            <td><div align="center"> Yes <br>
                <input type="radio" name="is_grad_student" value="Yes">
              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="is_grad_student" value="No">
              </div></td>

          </tr>
        </table></td>
    </tr>

    <tr>
      <td>Have you ever tested positive, or refused to test, on any pre-employment drug or alcohol test administered by an employer to which you did not obtain safety-sensitive transportation work covered by Department of Transportation agency drug and alcohol testing rules during the past two years?</td>
      <td><table width="100" border="0">
          <tr>

            <td><div align="center"> Yes <br>
                <input type="radio" name="tested_positive_or_refused" value="Yes">
              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="tested_positive_or_refused" value="No">
              </div></td>
          </tr>

        </table></td>
    </tr>
    <td colspan="2"><p align="center"><b>Voluntary Equal Employment Opportunity Information</b><br>The University of Massachusetts and the Pioneer Valley Transit Authority are equal opportunity employers.  To help us insure that we are complying with EEO policies, please supply the information requested below.</p>
      <div align="right"></div>
      <ul>
</ul>
    <tr>
      <td><div align="center">What is your gender?</div></td>
      <td><table width="100" border="0">
          <tr>
            <td><div align="center"> Male <br>

                <input type="radio" name="gender" value="Male">
              </div></td>
            <td><div align="center"> Female <br>
                <input type="radio" name="gender" value="Female">
              </div></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td><div align="center">Are you a Veteran?</div></td>
      <td><table width="100" border="0">
          <tr>
            <td><div align="center"> Yes <br>

                <input type="radio" name="is_veteran" value="Yes">
              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="is_veteran" value="No">
              </div></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td><div align="center">What is your Race/Ethnicity? </div></td>
      <td><select name="ethnicity" size="1">
          <option selected>Please Select:</option>
          <option value="native_american">Native American</option>
          <option value="black">Black</option>
          <option value="asian_pacific">Asian or Pacific Islander</option>
          <option value="hispanic">Hispanic</option>
          <option value="white">White</option>
          <option value="other">Other</option>
        </select>
    </tr>
    <tr>
      <td><div align="center">All responses to the previous questions are true and correct to the best of my knowledge: </div></td>
      <td><table width="100" border="0">
          <tr>
            <td><div align="center"> Yes <br>

                <input type="radio" name="answers_are_correct" value="Yes">
              </div></td>
            <td><div align="center"> No <br>
                <input type="radio" name="answers_are_correct" value="No">
              </div></td>
          </tr>
        </table></td>
    </tr>

    <tr>
      <td colspan="2"><div align="center">
          <input type="submit" name="Submit" value="Submit">
        </div></td>
    </tr>
  </table>
</form>
