<% @departments = {
    "bus" => {
      position: "Bus Driver",
      hiring:   true },
    "st" => {
      position: "Van Driver",
      hiring: false }
} %>

<p>Love driving? UMass Transit Services is looking for more students to become bus operators!
UMTS is a student-run organization that is responsible for keeping UMass Amherst running
smoothly every day. With our fully-paid training program, we're a group unlike any other
on campus!</p>

<h3 class="pageSubTitle">Why should you work here?</h3>

<p><ul>
	<li>Drivers start at <strong>$10.25</strong> per hour! ($9 during training)</li>
	<li>You can make your own schedule</li>
	<li>We pay for your training, CDL permit AND license</li>
	<li>There is room to grow - we offer positions that prepare you for a career outside of school</li>
   </ul>
</p>

<% @departments.each do |abbr, dept| %>
  <h3 class="pageSubTitle">To Schedule a <%= dept[:position] %> Interview</h3>
    <%= if dept[:hiring]
     render "_jobinfo_#{abbr}.html.erb"
   else
     render "_jobinfo_not_hiring.html.erb", locals: { job: dept[:position] + 's' }
   end %>
<% end %>

<h3 class="pageSubTitle">What Opportunities for Advancement Are There?</h3>
<p>All UMass Transit employees start out as drivers, but there are many promotional positions
available to student employees. For instance, you can become a field trip driver, a trainer,
a radio operator, a driver supervisor, or a student staff member. These are supervisory
positions, and they can help you gain valuable experience that future employers will be looking
for. This also allows for a very diverse work-week, and creates more money-making opportunities.</p>
