<% @departments = {
    "bus" => {
      position: "Bus Driver",
      hiring:   true },
    "st" => {
      position: "Van Driver",
      hiring: false }
} %>

<p>Love driving? UMass Transit Services is looking for more students to become bus operators! UMTS is a student-run organization that is responsible for keeping UMass Amherst running smoothly every day. With our fully-paid training program, we're a group unlike any other on campus!</p>

<h3 class="pageSubTitle">Why should you work here?</h3>

<p><ul>
	<li>Drivers start at <strong>$10</strong> per hour! ($9 during training)</li>
	<li>You can make your own schedule</li>
	<li>We pay for your training, CDL permit AND license</li>
	<li>There is room to grow - we offer positions that prepare you for a career outside of school</li>
	<li><strong>Free room and board</strong> while you train with us during the summer!</li>
   </ul>
</p>

<h3 class="pageSubTitle">Summer Training!</h3>

<p>During our summer training session, you will complete the training program over three weeks (instead of the usual 8-10 weeks during the semester). This way, your semester weekends will not be spent training! We will pay for you to live on campus, and your food for the entire three week period. You will be able to start the semester with a new, high-paying job that you can keep until you graduate, and on into grad school, if you choose! Be sure to indicate that you are "Interested in Summer Training" on your application.</p>

<p>There are two remaining summer sessions:</p>

<p><ul>
	<li>July 6 - July 25 | Deadline to apply is June 23.</li>
	<li>July 27 - August 15 | Deadline to apply is July 13.</li>
   </ul
</p>

<% @departments.each do |abbr, dept| %>
  <h3 class="pageSubTitle">To Schedule a <%= dept[:position] %> Interview</h3>
    <%= if dept[:hiring]
     render "_jobinfo_#{abbr}.html.erb"
   else
     render "_jobinfo_not_hiring.html.erb", locals: { job: dept[:position] + 's' }
   end %>
<% end %>

<h3 class="pageSubTitle">What Opportunities for Advancement Are There?</h3>
<p>All UMass Transit employees start out as drivers, but there are many promotional positions available to student employees. For instance, you can become a field trip driver, a trainer, a radio operator, a driver supervisor, or a student staff member. These are supervisory positions, and they can help you gain valuable experience that future employers will be looking for. This also allows for a very diverse work-week, and creates more money-making opportunities.</p>
