<p>Downloadable PDFs:</p>
<ul>
  <li><a href="pdf/umass_map.pdf">UMass-Amherst</a> (200 kB)</li>
  <li><a href="pdf/northampton_map.pdf">Northampton</a> (84 kB)</li>
  <li><a href="pdf/system_map.pdf">PVTA System</a> (3.1 MB)</li>
</ul>
<p>UMass Transit Service Area:<br/>
(click on a number to see that route's map and schedule)</p>

<p><img src="images/system.gif" width="721" height="898" border="0" usemap="#Map"/>
  <map name="Map">
    <area shape="circle" coords="403,259,13" href="pdf/outreach.pdf"/>
    <area shape="circle" coords="346,228,13" href="pdf/outreach.pdf"/>
    <area shape="circle" coords="228,112,14" href="pdf/route31.pdf"/>
    <area shape="circle" coords="168,36,15" href="pdf/outreach.pdf"/>
    <area shape="circle" coords="277,358,11" href="other_routes.html"/>
    <area shape="circle" coords="317,358,12" href="pdf/route38.pdf"/>
    <area shape="circle" coords="297,358,10" href="other_routes.html"/>

    <area shape="circle" coords="380,315,13" href="pdf/route34and35.pdf"/>
    <area shape="circle" coords="409,321,11" href="pdf/route34and35.pdf"/>
    <area shape="circle" coords="423,341,14" href="pdf/route37.pdf"/>
    <area shape="circle" coords="473,423,14" href="pdf/outreach.pdf"/>
    <area shape="circle" coords="483,501,16" href="pdf/route30.pdf"/>
    <area shape="circle" coords="560,528,15" href="pdf/outreach.pdf"/>
    <area shape="circle" coords="416,459,14" href="other_routes.html"/>
    <area shape="circle" coords="389,459,15" href="pdf/route38.pdf"/>
    <area shape="circle" coords="352,486,13" href="pdf/route31.pdf"/>

    <area shape="circle" coords="321,435,15" href="pdf/route37.pdf"/>
    <area shape="circle" coords="285,498,15" href="other_routes.html"/>
    <area shape="circle" coords="392,531,14" href="pdf/outreach.pdf"/>
    <area shape="circle" coords="336,575,12" href="pdf/route39.pdf"/>
    <area shape="circle" coords="312,575,14" href="pdf/route38.pdf"/>
    <area shape="circle" coords="276,619,14" href="pdf/route39.pdf"/>
    <area shape="circle" coords="169,692,13" href="pdf/route39.pdf"/>
    <area shape="circle" coords="359,731,17" href="pdf/route38.pdf"/>
    <area shape="circle" coords="688,778,15" href="pdf/outreach.pdf"/>

    <area shape="circle" coords="214,854,16" href="pdf/route39.pdf"/>
    <area shape="circle" coords="185,854,14" href="pdf/route38.pdf"/>
    <area shape="circle" coords="60,645,16" href="pdf/route39.pdf"/>
    <area shape="circle" coords="35,644,11" href="other_routes.html"/>
    <area shape="circle" coords="12,645,14" href="other_routes.html"/>
    <area shape="circle" coords="333,305,14" href="pdf/route30.pdf"/>
  </map>
</p>

<p>Note: Please see <a href="http://www.pvta.com" target="_blank">www.pvta.com</a>
for more information on connecting routes in Belchertown, Northampton, and South
Hadley. For buses to Greenfield and other parts of Franklin Country, check out
<a href="http://www.frta.org" target="_blank">www.frta.org</a>.</p>
