<p>The Meet and Greet Service provides ground transportation to and from the Amherst
campus. Destinations include Bradley International Airport, the UMass President's
Office and the Springfield Amtrak station. Our courteous, professionally trained 
drivers provide a relaxing and comfortable mode of transportation for employees and
guests of the University.</p>

<table class="ratesTable">
  <caption>RATES PER TRIP</caption>
  <tr>
    <th>To or From</th>
    <th><a href="meet_greet_sedans.html">Sedan</a></th>
    <th><a href="ft_vans.html">Van</a></th>
  </tr>
  <tr>
    <td>Amtrak/Springfield</td>
    <td>$95</td>
    <td>$125</td>
  </tr>
  <tr>
    <td>Bradley Airport (Inside terminal greeting option+$10)</td>
    <td>$115</td>
    <td>$145</td>
  </tr>
  <tr>
    <td>Pioneer Valley Area ($60 minimum) </td>
    <td>$36/hr</td>
    <td>$50/hr</td>
  </tr>
  <tr>
    <td>Outside Pioneer Valley ($60 minimum)</td>
    <td>$48/hr</td>
    <td>$58/hr</td>
  </tr>
</table>

<p>All payments must be made using a University Recharge. Please schedule trips at
least 3 business days in advance. You can request trips by filling out the
<a href="meet_greet_form.html">Meet and Greet Request Form</a>.</p>

<p>For more information, please contact Field Trip Services:<br/>
Phone: 413-545-2498<br/>
Fax: 413-545-1930<br/>
Email: <a href="mailto:fieldtrip@umass.edu">fieldtrip@umass.edu</a></p>

<p>If you would prefer to drive yourself, please visit the UMass 
<a href="http://www.umass.edu/rentalcar">Vehicle Rental Service</a>.</p>
