<h3 class="pageSubTitle">Service Bulletins:</h3>
<%# Note: to customize the appearance of the Twitter widget, go
    here - https://twitter.com/settings/widgets/262939575813545985/edit #%>
<!--
<div id="twitter-widget">
  <a class="twitter-timeline"
    href="https://twitter.com/umasstransit"
    width="500"
    data-aria-polite="assertive"
    data-widget-id="262939575813545985">Tweets by @umasstransit</a>
  <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");
  </script>
</div>
-->

<h3 class="pageSubTitle">General News Items:</h3>
<ul id="news-items">
</ul>
<script>
  var temp;
  function sortByPosted(a, b) {
    return a.posted > b.posted ? 1 : -1;
  }

  head.ready(function() {
    $.getJSON( "news.json",function(data) {
      $.each(data.sort(sortByPosted), function(index, item) {
          if (item.published && Date.now() >= Date.parse(item.start) && Date.now() < Date.parse(item.end)){
            if (item.link === null) {
              $("#news-items").append("<li><strong>" + item.title + "</strong>: </li>");
            } else {
              $("#news-items").append("<li><a href='" + item.link + "'>" + item.title + "</a>: </li>");
            }
            $("#news-items li:last").append(item.description);
            console.log(item.title);
          }
        });
    });
  });
</script>
