<h3 class="pageSubTitle">Service Bulletins:</h3>
<%# Note: to customize the appearance of the Twitter widget, go
    here - https://twitter.com/settings/widgets/262939575813545985/edit #%>
<div id="twitter-widget">
  <a class="twitter-timeline" 
    href="https://twitter.com/umasstransit" 
    width="500"
    data-aria-polite="assertive"
    data-widget-id="262939575813545985">Tweets by @umasstransit</a>
  <script>
    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0];
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;
        js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document,"script","twitter-wjs");
  </script>
</div>

<h3 class="pageSubTitle">General News Items:</h3>
<iframe id="newsframe" frameborder="0" src="https://www.umasstransit.org/news2.php" name="news">
  <p>Your browser does not handle iframes... please go <a href="https://www.umasstransit.org/news.php">here</a> to read news items.</p>
</iframe>

<script type="text/javascript">
  //Resize the news iframe.  See  http://stackoverflow.com/questions/153152/resizing-an-iframe-based-on-content
  //for an explanation of why this is so complicated.
  function resizeIframe(height) {
    document.getElementById("newsframe").height = parseInt(height) + 60;
  }
</script>
