<div id="page_title">Other Routes</div>
<div id="page_text_field"> 
  <p>Please see <a href="http://www.pvta.com/schedules.php?tab=4#TabbedPanels1" target="_blank">www.pvta.com</a>
  for more information on Routes 29 (operated by Springfield Area Transit), 40 and 43
  (operated by Valley Area Transit).</p>
</div>
