<div id="page_title">FT Rates</div>
<div id="page_text_field">
  <table id="rates">
    <thead>
      <tr>
        <th>Type of Vehicle</th>
        <th>Number of Passengers</th>
        <th>Rate</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Maroon and White</td>
        <td>38</td>
        <td>$22 / hour plus $2.75 / mile, $150 minimum</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>School Bus Style</td>
        <td>38</td>
        <td>$20 / hour plus $2.50 / mile, $120 minimum</td>
        <td>One wheelchair-accessible school bus.</td>
      </tr>
      <tr>
        <td>City Bus Style</td>
        <td>35-40</td>
        <td>
          <p><em>On Campus</em><br/>
          $55 / hour, $110 minimum</p>
          <p><em>Off Campus</em><br/>
          $20 / hour plus $2.50 / mile, $120 minimum</p>
        </td>
        <td>These buses are only available for local trips; one wheelchair-accessible bus.</td>
      </tr>
      <tr>
        <td> Wheelchair accessible Van</td>
        <td>2-4</td>
        <td>$40 / hour in the Pioneer&nbsp;Valley, $60 minimum</td>
        <td>Van can accommodate up to two wheelchair passengers</td>
      </tr>
      <tr>
        <td>Van</td>
        <td>11</td>
        <td>
          <p><em>Within the Pioneer&nbsp;Valley</em><br/>
          $40 / hour, $60 minimum</p>
          <p><em>Outside the Pioneer&nbsp;Valley</em><br/>
          $48 / hour, $60 minimum</p>
        </td>
        <td>Room for luggage.</td>
      </tr>
    </tbody>
  </table>
  <p class='note'><strong>Note: </strong>During the summer, weekend and holiday trips may have an additional
  $15 per hour cost for dispatcher coverage.
  </p>
</div>
