<table id="rates">
  <thead>
    <tr>
      <th>Type of Vehicle</th>
      <th>Number of Passengers</th>
      <th>Rate</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="ft_maroonwhite.html">Maroon and White</a></td>
      <td>38</td>
      <td>$26 / hour plus $3.30 / mile, $150 minimum</td>
      <td>To be retired May 2014</td>
    </tr>
    <tr>
      <td><a href="ft_schoolbuses.html">School Bus Style</a></td>
      <td>38</td>
      <td>$24 / hour plus $3.00 / mile, $120 minimum</td>
      <td>One wheelchair-accessible school bus.</td>
    </tr>
    <tr>
      <td><a href="ft_rts.html">City Bus Style</a></td>
      <td>35-40</td>
      <td>
        <p><em>On Campus</em><br/>
        $66 / hour, $110 minimum</p>
        <p><em>Off Campus</em><br/>
        $24 / hour plus $3.00 / mile, $120 minimum</p>
      </td>
      <td>These buses are only available for local trips; one wheelchair-accessible bus.</td>
    </tr>
    <tr>
      <td><a href="ft_st_vans.html">Wheelchair accessible Van</a></td>
      <td>2-4</td>
      <td>$44 / hour in the Pioneer&nbsp;Valley, $66 minimum</td>
      <td>Van can accommodate one wheelchair passenger</td>
    </tr>
    <tr>
      <td><a href="ft_vans.html">Van</a></td>
      <td>11</td>
      <td>
        <p><em>Within the Pioneer&nbsp;Valley</em><br/>
        $44 / hour, $66 minimum</p>
        <p><em>Outside the Pioneer&nbsp;Valley</em><br/>
        $48 / hour, $66 minimum</p>
      </td>
      <td>Room for luggage.</td>
    </tr>
  </tbody>
</table>
<p class='note'><strong>Note: </strong>During the summer, weekend and holiday trips may have an additional
$15 per hour cost for dispatcher coverage.
</p>
