<table class="contacts" id="transit">
  <caption>UMass Transit Service:</caption>
  <tr>
    <td class="first">Schedule Info</td>
    <td>(413) 545-0056</td>
  </tr>
  <tr>
    <td>Lost and Found</td>
    <td>(413) 545-0056</td>
  </tr>
  <tr>
    <td>Schedule and Hotline</td>
    <td>(413) 545-1633</td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("transit");
</script>

<table class="contacts" id="other">
  <caption>Other UMass Departments:</caption>
  <tr>
    <td class="first"><a href="http://www.umass.edu/vehicle">Transportation Services</a></td>
    <td>(413) 545-4682</td>
  </tr>
  <tr>
    <td><a href="http://www-parking.admin.umass.edu/">Parking Services </a></td>
    <td>(413) 545-0065</td>
  </tr>
  <tr>
    <td><a href="http://www.umass.edu/uhs/accesstocare/rides/">UHS Shuttle</a></td>
    <td>(413) 577-7425</td>
  </tr>
  <tr>
    <td><a href="http://www.umass.edu/closing/">Severe Weather/Emergency Closing</a></td>
    <td>(413) 545-3630</td>
  </tr>
  <tr>
    <td><a href="http://www.ecs.umass.edu/umtc/contact.shtml">Transportation Center</a></td>
    <td><a href="mailto:umtc@ecs.umass.edu">umtc@ecs.umass.edu</a></td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("other");
</script>

<table class="contacts" id="college">
  <caption>College Info Desks:</caption>
  <tr>
    <td class="first"><a href="http://www.amherst.edu/">Amherst College</a></td>
    <td>(413) 542-2250</td>
  </tr>
  <tr>
    <td><a href="http://www.hampshire.edu/">Hampshire College</a></td>
    <td>(413) 549-4600</td>
  </tr>
  <tr>
    <td><a href="http://www.mtholyoke.edu/">Mt. Holyoke College</a></td>
    <td>(413) 538-2045</td>
  </tr>
  <tr>
    <td><a href="http://www.smith.edu/">Smith College</a></td>
    <td>(413) 584-2700</td>
  </tr>
  <tr>
    <td><a href="http://www.fivecolleges.edu/">Five College Inc. </a></td>
    <td>(413) 256-8316</td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("college");
</script>

<table class="contacts" id="pvta">
  <caption>Pioneer Valley Transit Authority:</caption>
  <tr>
    <td class="first"><a href="http://www.pvta.com/">Schedule Info</a></td>
    <td>(413) 586-5806</td>
  </tr>
  <tr>
    <td>ADA Scheduling Hotline</td>
    <td>(413) 734-1040</td>
  </tr>
  <tr>
    <td>Lost and Found for M40 and B43</td>
    <td>(413) 586-3548</td>
  </tr>
  <tr>
    <td>Advertising Inquiries</td>
    <td>(413) 586-5806</td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("pvta");
</script>

<table class="contacts" id="peter_pan">
  <caption>Peter Pan:</caption>
  <tr>
    <td><a href="http://www.peterpanbus.com/">General Info</a></td>
    <td>(800) 343-9999</td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://www.peterpanbus.com/tickets/terminal-listings.php">Terminal Listings</a> (where to buy tickets)</td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("peter_pan");
</script>

<table class="contacts" id="otherTrans">
  <caption>Other Transportation Links:</caption>
  <tr>
    <td class="first"><a href="http://www.amtrak.com/">Amtrak</a></td>
    <td>(413) 785-4230</td>
  </tr>
  <tr>
    <td><a href="http://www.bradleyairport.com/">Bradley International Airport</a></td>
    <td>(860) 292-2000</td>
  </tr>
  <tr>
    <td><a href="http://www.frta.org/">Franklin Regional Transit</a></td>
    <td>(413) 774-2262</td>
  </tr>
  <tr>
    <td>Stavros</td>
    <td>(413) 256-0473</td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://maps.google.com/maps?&ie=UTF8&oe=UTF-8&q=taxi+amherst,+ma&fb=1&view=map&cd=1&hl=en&ll=42.390628,-72.529335&spn=0.08355,0.181961&z=13">Taxi Services</a></td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("otherTrans");
</script>

<table class="contacts" id="misc">
  <caption>Miscellaneous:</caption>
  <tr>
    <td class="first">Weather Report</td>
    <td>(413) 584-4411</td>
  </tr>
  <tr>
    <td><a href="http://www.wrnx.com/">WRNX</a></td>
    <td>(413) 746-1009</td>
  </tr>
  <tr>
    <td><a href="http://www.fivecolleges.edu/sites/bus/">Five Colleges maps and tours</a></td>
    <td>(413) 256-8316</td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://www.umass.edu/commencement/">UMass Commencement</a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://umass.edu/vehicle/ads.html">Vehicle Advertising</a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://prisms.cs.umass.edu/dome/index.php?page=umassdieselnet">DieselNet</a></td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("misc");
</script>

<table class="contacts" id="industry">
  <caption>Transportation Industry Organizations:</caption>
  <tr>
    <td colspan="2"><a href="http://www.fta.dot.gov/">Federal Transit Administration</a></td>
  </tr>
  <tr>
    <td colspan="2"><a href="http://www.apta.com/">American Public Transit Association</a></td>
  </tr>
  <tr>
    <td colspan="2"><a href='http://utc.umasstransit.org/'>University Transportation and Communities</a></td>
  </tr>
</table>
<script type="text/javascript">
  alternateClasses("industry");
</script>
