<p><strong>Mobile Schedules:<a href="http://m.pvta.com">m.pvta.com</a></strong></p>
<p><strong>PDF Schedules:</strong></p>
<ul id="schedules">
  <li>
    <a href="other_routes.html">29</a>: Amherst / Holyoke via Route 116
  </li>
  <li>
    <a href="pdf/route30.pdf">30</a>: North Amherst / UMass / Old Belchertown Road
  </li>
  <li>
    <a href="pdf/route31.pdf">31</a>: Sunderland / UMass / South Amherst
  </li>
  <li>
    <a href="pdf/outreach.pdf">32</a>: Puffers Pond / UMass / Atkins Corner
  </li>
  <li>
    <a href="pdf/route34and35.pdf">34</a>: UMass Campus Shuttle Northbound
  </li>
  <li>
    <a href="pdf/route34and35.pdf">35</a>: UMass Campus Shuttle Southbound
  </li>
  <li>
    <a href="pdf/route37.pdf">37</a>: Amity Shuttle / UMass
  </li>
  <li>
    <a href="pdf/route38.pdf">38</a>: Mt Holyoke College / Hampshire College / Amherst / UMass
  </li>
  <li>
    <a href="pdf/route39.pdf">39</a>: Smith College / Hampshire College / Mt Holyoke College
  </li>
  <li>
    <a href="pdf/outreach.pdf">45</a>: Belchertown Center / Gatehouse Rd / UMass
  </li>
  <li>
    <a href="pdf/outreach.pdf">46</a>: South Deerfield / UMass
  </li>
  <li>
    <a href="other_routes.html">40</a>: Smith College / UMass
  </li>
  <li>
    <a href="other_routes.html">43</a>: Smith College / UMass / Amherst College
  </li>
</ul>
<script type="text/javascript">alternateClasses("schedules")</script>

<p>Go to <a href="news.html">Service Bulletins</a>, <a href="buses.html">PVTA Buses</a>,
<a href="maps.html">Maps</a>, <a href="calendar.html">Service Calendar</a>,
and <a href="trip_planner.html">Trip Planner</a> for more information about our routes
and service area. Printed schedules are available on our buses, at the
<a href="directions.html">UMass Bus Garage</a>, and at the UMass Campus Center concourse
information booth.</p>
