<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>UMass Transit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <link href="stylesheets/base.css" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/slideshow.css" rel="stylesheet" type="text/css"/>
    <script src="javascript/head.min.js"></script>
  </head>

  <body>
    <div id="fb-root"></div>
    <div id="container" >
      <%= render "_header.html.erb" %>

      <table id="intro_table">
        <tbody>
          <tr>
            <td id="image_column">
              <div id="slideshow">
                <img class="slideshow_fallback" src="images/hiring_this_summer.jpg">
                <img src="images/bus_bike_night.jpg">
                <img src="images/hiring_this_summer.jpg">
                <img src="images/gilligside.jpg">
                <img src="images/hiring_this_summer.jpg">
                <img src="images/transit.jpg">
                <img src="images/hiring_this_summer.jpg">
                <img src="images/commencement_buses.jpg">
                <img src="images/hiring_this_summer.jpg">
                <img src="images/bus_on_campus.jpg">
              </div>
            </td>
            <td id="description_column">
              <div id="text_field">
                <p>UMass Transit provides <a href="buses.html">bus</a> and
                <a href="spectrans.html">van</a> service to the University/Five College
                communities. We're committed to providing safe, efficient, and economical
                mobility for over 16,000 riders every school day.</p>

                <p>UMass Transit is offering special concentrated training
                classes this summer. We offer paid training, free on-campus housing, and
                food during the training period.  Click <a href="join_team.html">here</a>
                for more information and to apply.</p>

                <p>Click <strong><a href="news.html">News</a></strong> for service bulletins.</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table id="navigation_table">
        <thead>
          <tr>
            <th>Transit</th>
            <th>Related Links</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="bottom_nav" id="services">
                <li><a href="schedules.html">Schedules</a></li>
                <li><a href="bus_tracker.html">Bus Tracker</a></li>
                <li><a href="trip_planner.html">Trip Planner</a></li>
                <li><a href="maps.html">Maps</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="join_team.html">Employment</a></li>
              </ul>
            </td>
            <td>
              <ul class="bottom_nav" id="external_links">
                <li><a href="http://www.umass.edu/vehicle">Transportation Services</a></li>
                <li><a href="http://www.masstraveler.com/">Mass Traveler</a></li>
                <li><a href="http://parking.umass.edu/index.php/home/">Parking Services</a></li>
                <li><a href="http://www.umass.edu/rentalcar">Vehicle Rental Service</a></li>
                <li><a href="certificate.html">Transit Certificate Program</a></li>
                <li><a href="https://umasstransit.org">Transit Employee Login</a></li>
                <li><a href="related_info.html">More Related Links</a></li>
              </ul>

              <fb:like href="http://facebook.com/UMassTransit"
                       send="false"
                       layout="button_count"
                       show_faces="false">
              </fb:like>
            </td>
          </tr>
        </tbody>
      </table>

      <%= render "_footer.html.erb" %>
    </div>

    <script type="text/javascript">
      head.js("javascript/facebook.js");
      head.js("javascript/sliderman.1.3.7.js");
      head.ready(function() {
          var slider = Sliderman.slider(
            {container: 'slideshow',
             width: 532,
             height: 318,
             effects: 'fade',
             display: {
               autoplay: 6000,
               buttons: {
                 hide: true,
                 opacity: 1,
                 prev: {className: 'slideshow_nav slideshow_prev'},
                 next: {className: 'slideshow_nav slideshow_next'}
               }
             }
           })
      });
    </script>

    <%= render "_ga.html.erb" %>
  </body>
</html>
