<p>Special Transportation Services has been a part of UMass Transit Service since 1986.
"SpecTrans" provides free transportation service around the Amherst campus to students,
staff, and faculty with a disability. Special Transportation Services on-call and
reservation service for passengers with both temporary and permanent disabilities both
on and off campus. Our primary mission is to transport people to and from their classes
and work. We also provide off campus trips on a limited basis.</p>

<p>Vans are equipped to carry the majority of wheelchairs.  For passengers using Canadian 
or other types of crutches, the passenger door of each van can be opened by the driver in 
the same way as a school bus door.</p>

<h3 class="pageSubTitle">Registering as a SpecTrans Passenger</h3>

<p>People who need our service on a long-term basis must register with Disability
Services first by calling (413) 545-0892. Temporary passengers can register directly
with the SpecTrans dispatcher by calling (413) 545-2086 (see below for hours).</p>

<p>For questions about Special Transportation, e-mail or call us:</p>

<table id="spec-contacts" class="contacts">
  <tbody>
    <tr>
      <td>Info and ride scheduling:</td>
      <td>(413) 545-2086</td>
    </tr>
    <tr>
      <td>Bus information:</td>
      <td><a href="buses.html">(413) 545-0056</a></td>
    </tr>
    <tr>
      <td>Fax:</td>
      <td>(413) 545-1930</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td><a href="mailto:transit@admin.umass.edu">transit@admin.umass.edu</a></td>
    </tr>
  </tbody>
</table>

<p>Other special transportation services in the area are:</p>
<table id="spec-contacts-other" class="contacts">
  <tbody>
    <tr>
      <td><a href="http://www.pvta.com/index.php/senior-disabled-riders">PVTA Van Services Broker</a>:</td>
      <td>(800) 752-1638</td>
    </tr>
    <tr>
      <td><a href="http://www.stavros.org/">Stavros</a>:</td>
      <td>(413) 256-0473</td>
    </tr>
  </tbody>
</table>

<h3 class="pageSubTitle">Service Hours</h3>

<p>The links in this section will refer you to the UMass Academic Calendar, maintained
by the University of Massachusetts</p>

<a href="http://www.umass.edu/registrar/gen_info/academic_calendar.htm">Academic Semester</a>:

<table id="sched-full" class="schedule">
  <tr class="empty">
    <td colspan="2">Dispatcher on duty during the hours of:</td>
  </tr>
  <tr>
    <td>Monday - Friday </td>
    <td>7:00am - 5:00pm</td>
  </tr>
  <tr>
    <td>Saturday &amp; Sunday</td>
    <td>NO Dispatcher on duty</td>
  </tr>
  <tr class="empty">
    <td colspan="2">Rides available during the hours of:</td>
  </tr>
  <tr>
    <td>Monday - Friday</td>
    <td>7:15am - 11:00pm</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>9:00am - 11:00pm</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>10:00am - 11:00pm</td>
  </tr>
</table>

<a href="http://www.umass.edu/registrar/gen_info/academic_calendar.htm">Intersession, Wintersession, Spring Break, and Summer</a>:
<table id="sched-reduce" class="schedule">
  <tr class="empty">
    <td colspan="2">Dispatcher on duty during the hours of:</td>
  </tr>
  <tr>
    <td>Monday - Friday</td>
    <td>8:00am - 5:00pm</td>
  </tr>
  <tr>
    <td>Saturday &amp; Sunday</td>
    <td>NO Dispatcher on duty</td>
  </tr>
  <tr class="empty">
    <td colspan="2">Rides available during the hours of:</td>
  </tr>
  <tr>
    <td>Monday - Friday</td>
    <td>7:15am - 8:30pm</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>9:15am - 4:30pm</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>NO SERVICE</td>
  </tr>
</table>

<strong>Columbus Day, Veteran's Day, Patriot's day, President's Day</strong>
<ul>
  <li>No Dispatcher on duty. Rides are available from 7:15am - 8:30pm</li>
</ul>

<strong>Thanksgiving Day, Christmas Day, New Year's Day, Memorial Day, Labor Day</strong>
<ul>
  <li>NO SERVICE</li>
</ul>

<h3 class="pageSubTitle">The Five-College Van Service</h3>

<p>Five-Colleges Incorporated will fund trips between UMass, Hampshire College, Amherst 
College, Mount Holyoke College and Smith College for some academic programs. These trips
are scheduled through the UMass Transit Field Trip Service. Inquiries should be directed
to <a href="mailto:nobled@admin.umass.edu">Diana Noble</a>, the Field Trip Coordinator,
at (413) 545-2498 at least one week in advance.</p>

<script type="text/javascript">
  head.ready( function () {
    alternateClasses("spec-contacts");
    alternateClasses("spec-contacts-other");
    alternateClasses("sched-full");
    alternateClasses("sched-reduce");
  });
</script>
