<div id="page_title">Student Groups</div>
<div id="page_text_field">
  <p>Field Trip Services are available to all University organizations. We expect that at
  least half of the passengers riding Field Trip Service vehicles on your trip will be
  members of your University organization.</p>

  <h3 class="pageSubTitle">Payment &amp; Rates</h3>
  <p>Payment for Field Trip Services is by University purchase order. Student groups can
  get a University purchase order by completing a purchase request at the Campus Activities
  Resource Center in the Student Union. Once your purchase request is approved at Campus
  Activities, a purchase order will be forwarded to Field Trip Services. Please make sure
  your purchase request is completed at least seven business days before your trip.</p>

  <p>Field Trip Service reserves the right to cancel reservations not held by a purchase
  order one week prior to the trip.</p>

  <p><a href="rates_ft.html">Current Field Trip Rates</a></p>

  <h3 class="pageSubTitle">Cancellation Policy</h3>
  <p>Cancellations made less than two business days prior to the trip will be subject to
  a cancellation fee equal to half the estimated cost of the trip.</p>

  <h3 class="pageSubTitle">Cleaning Surcharge</h3>
  <p>A cleaning surcharge, typically $40, will be applied if mopping is necessary.</p>

  <h3 class="pageSubTitle">Rules of the Road</h3>
  <p>Your group is responsible for the actions of all passengers, as well as for any
  damage to a vehicle that occurs during your trip. It is important that everyone obey
  safety rules. You are required to appoint at least one person per bus to make sure all
  rules are followed. The driver will need to concentrate on driving, so noise and
  commotion should be kept to a minimum while the bus is in motion.  Groups holding 
  evening social functions will be asked to complete a
  <a href="pdf/monitor.pdf">bus monitor agreement</a> and return it to Field Trip
  Services one week before the trip.  Field Trip Services reserves the right to deny
  requests for certain types of shuttle service or for transportation to open invitation
  social events.  No alcohol or smoking is permitted on any of our vehicles. No open or
  closed containers of alcohol are permitted on board. This is a state law, as well as a
  Field Trip Service regulation. Organizations that violate the alcohol policy will be
  suspended from using Field Trip Services for four years and reported to the Dean of
  Students Office.</p>

  <h3 class="pageSubTitle">Seating Capacity</h3>
  <ul>
    <li>School buses: 38 adults</li>
    <li>Transit buses: 44 adults</li>
    <li>Wheelchair Vans: 2 passengers with chairs and up to 4 seated passengers</li>
  </ul>

  <h3 class="pageSubTitle">Transporting Children</h3>
  <p>Groups that will be transporting children should arrange to have adequate adult
  supervision, including at least one representative from the UMass organization
  sponsoring the trip. UMass buses are not &quot;school bus certified&quot; and do not
  have school bus lights. Children under five years old riding in vans must use an
  appropriate car seat.</p>
</div>
