<div id="page_title">Main</div>
<div id="page_text_field"> 
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
  Put all your content here<br>
</div>
