h3{
  padding: 0px 20px;
}

#twitter-widget{
  padding: 0 45px 15px;
}

#news-items{
  color: #666;
  padding: 0 45px 15px;
  & > li {
    list-style: none;
    padding: 10px 0;
  }
  a.item_title {
    font-weight: bold;
  }
}
