#newsframe{
  width: 591px;
  min-height: 300px;
}

#twitter-widget{
  padding: 0 45px 15px;
  width: 500px;
}

/*#twitter-widget-0{
  width: 500px !important;
}*/

h3{
  padding: 0px 20px;
}

#container #main_table #right #page_text_field {
  margin: 0px;
  padding: 0px;
}
