#container #main_table #right #rates{
  border-collapse: collapse;
}

#container #main_table #right #rates td, #container #main_table #right #rates th{ 
  background-color: #EEEEEE;
  padding: 5px;
  border: solid black 1px;
  text-align: center;
}

#container #main_table #right #rates tr{
  height: 10px;
}

#container #main_table #right #rates thead{
  vertical-align: bottom;
}

#container #main_table #right #rates tbody{
  vertical-align: middle;
}

#container #main_table #right #rates em{
  font-style: normal;
  color: #990000;
}

#container #main_table #right #rates p{
  margin: 5px 0px;
}
