.contacts{
  border-collapse: collapse;
  font-size:15px;
}

#container #main_table .contacts td{
  border: none;
}

#container #main_table .contacts #alternate-header{
  vertical-align: bottom;
  height: 40px;
  font-size:15px;
}

#container #main_table .schedule{
  border-collapse: collapse;
  width: 340px;
  font-size:15px;
  margin-bottom: 20px;

}
#container #main_table .schedule td{
  padding: 4px;
  border: none;
}
