#container #main_table table.contacts{
  border-collapse: collapse;
  border-width: 0;
  border-spacing: 0;
  padding: 0;
}

#container #main_table table.contacts tr{
  height: 45px;
  vertical-align: top;
}

#container #main_table table.contacts tr.supervisor{
  background-color: #dfdfdf;
  height: 20px;
  vertical-align: center;
}

#container #main_table table.contacts td{
  border: none;
}

#container #main_table .dept_separator{
  font-weight: bold;
  padding: 15px 0;
}

#container #main_table table.contacts tr > td:first-child{
  width: 160px;
}

#container #main_table table.contacts tr > td:last-child{
  width: 342px;
}

#container #main_table table.contacts a, #container #main_table table.contacts .noemail{
  font-weight: bold;
}
